 


<div class="d-flex justify-content-end">


  <span class="text-danger text-right" ><%= comment.body %> </span> -
  
   [<%= comment.user.username %> - <%= time_ago_in_words comment.created_at %>] 

  <% if comment.user.avatar.attached? %>
    <image src="<%= url_for(comment.user.avatar) %> " width="50" height="auto" class="img_avatar_rounded" > 
  <% end %>  


</div>




