<h1>Bienvenue sur mon Super Blog</h1>

<ul class="list-group ">
  <% @posts.each do |p| %>

    <% if p.image.attached? %>
      <image src="<%= url_for(p.image) %> " width="200" height="auto" >
    <% end %>    

    <li class="list-group list-group-item-warning">
      <%= p.title%> |
        par .....         
        && 
       ( <%= pluralize(p.comments.count, "comment") %> )
    </li>
    <li class="list-group-item ">
      <%= truncate(strip_tags(p.body.to_s), length: 200){ link_to "Continue", p} %>
    </li>
  <%end%>

</ul>

<br> 
