<h1>Pages#index</h1>

<ul class="list-group md-5 ">
  <% @posts.each do |p| %>

    <% if p.image.attached? %>
      <image src="<%= url_for(p.image) %> " width="600" height="auto" >
    <% end %>

    

    <li class="list-group list-group-item-warning">
      <%= p.title%> |
        par ..... 

        
        
        && 
       ( <%= pluralize(p.comments.count, "commentraire") %> )
    </li>
    <li class="list-group-item ">
      <%= truncate(strip_tags(p.body.to_s), length: 200){ link_to "Continue", p} %>
    </li>
  <%end%>

</ul>

<br> <br> <br> <br>
